html, body {
    height: 100%;
    background-color: rgb(40, 44, 45);
    margin: 0;
}
/* -----------------------------------CABEÇALHO-------------------------------------------- */
.homepage-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("watercolorbackground.jpg") no-repeat center center fixed;
    animation: animatedBackground 5s linear infinite;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.navbar-top {
	float: left;
    overflow: auto;
    width: 100%;
    height: 15%;
    position: fixed;
   
    top: 20px;
    display: inline-flex;
    background: #000;
    margin-top: -2.5em;
    font-family: 'Merriweather', serif;
    color: #fff;
    }

.menu {

}

.menu ul {

	list-style: none;
	margin: 0;
	padding: 0;	
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														
}

.menu ul li{
	display: inline-block;
}

.inline-block-centralizado {
  background: black;
  font-size: 150%;
  }

a:link {
    text-decoration: none;
    color: white;
    float: right;
}

a:visited {
    text-decoration: none;
    color: white;
    float: right;
}

a:hover {
    text-decoration: underline;
    color: white;
    float: right;
}

a:active {
    text-decoration: underline;
    color: white;
    float: right;
}
.inline-block-centralizado div {
  display: inline-block;
  text-align: left;
}

.inline-block-centralizado a {
    float: right;


}

/* -----------------------------------NOME TELA INCIAL-------------------------------------------- */
.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.half-home-container {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    border: solid #333;
    border-width: 5%;
    width: 100%;
    height: 15%;    
    background-clip: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: 112px;
}

/* -----------------------------------SLIDER-------------------------------------------- */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: block;
  height: 293px;  
  max-width: 600px;
  position: relative;
  margin: auto;
  padding: auto;
  margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow:hidden;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ---------------------------------- GALERIA -------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

.header {
    text-align: center;
    padding: 100px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* -----------------------------------CONTATO-------------------------------------------- */

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


